table {
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
  z-index: 1;
}

td, th, .ff-fix {
  cursor: pointer;
  padding: 10px;
  position: relative;
}

td:hover::after,
.ff-fix:hover::after {
  background-color: #ffa;
  content: '\00a0';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

td.player1 {
  background-color: #99dfd2;
}

td.player2 {
  background-color: #ffbd75;
}
